DECOUPLING_common/schemas/response/response.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://localhost:8080/decoupling/schemas/common" elementFormDefault="unqualified">
	<xs:import namespace="http://localhost:8080/decoupling/schemas/common" schemaLocation="../common/pa_common.xsd"/>
	<!--
	An er-response encapsulates all response packets that are returned by
	 ER's REST interface.
	-->
	<xs:element name="er-response">
		<xs:complexType>
			<xs:sequence>
				<!-- 
				A generic payload will have wrap all xml fragments that are sent
				to the REST interface. The payload type defines this generic payload.
				-->
				<xs:element name="payload" type="common:payloadType"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sub-id" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<!-- 	
			The id and sub-id fields identify the type of response that is encapsulated
			in  the payload. The client application will be able to use these values to 
		   bind the payload to the appropriate java object model.
			-->
		</xs:complexType>
	</xs:element>
	<!--
		This schema reprsesents the static constant values supplied by ER.
	 -->
	<xs:element name="er-constants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="er-constant-group" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="er-constant" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
									<xs:attribute name="sub-value" type="xs:string" use="optional"/>
									<xs:attribute name="description" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End ERConstants
	-->
	<!--
		The error frament will wrap ERExceptions as well as exceptions thrown
		 by the REST interface layer. Errors will be mapped to their id to give client
		side context -->
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cause" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="system-id" type="xs:string" use="optional"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--
		End Error Definition
	-->
	<!--
		Begin Express Packages Definition
	-->
	<xs:element name="express-packages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="express-package" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="express-price" type="xs:string"/>
							<xs:element name="price-text" type="xs:string"/>
							<xs:element name="is-option" type="xs:boolean"/>
							<xs:element name="is-subscribed" type="xs:boolean"/>
						</xs:sequence>
						<xs:attribute name="service-id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Express Packages Definition
	-->
        
        <xs:element name="full-express-packages">
                <xs:complexType>
                        <xs:sequence>
				<xs:element name="is-success" type="xs:boolean"/>
                                <xs:element name="error-description" type="xs:string" minOccurs="0"/>
                                <xs:element name="error-id" type="xs:string" minOccurs="0"/>
                                <xs:element name="express-package" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                                <xs:sequence>
                                                        <xs:element name="express-price" type="xs:string"/>
                                                        <xs:element name="price-text" type="xs:string"/>
                                                        <xs:element name="is-option" type="xs:boolean"/>
                                                        <xs:element name="is-subscribed" type="xs:boolean"/>
                                                </xs:sequence>
                                                <xs:attribute name="service-id" type="xs:string" use="required"/>
                                        </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <!--
                End Express Packages Definition
        -->

	
<!-- CR1789 FindPackagesByServiceIdOneStep START -->
	<xs:element name="onestep-packages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="onestep-package" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="price" type="xs:string"/>
							<xs:element name="price-text" type="xs:string"/>
							<xs:element name="credits-left" type="xs:string"/>
							<xs:element name="subscription-end-date" type="xs:string"/>						
							<xs:element name="is-subscribed" type="xs:boolean"/>
							<xs:element name="is-express-package" type="xs:boolean"/>
							<xs:element name="has-purchases-options" type="xs:boolean"/>
						</xs:sequence>
						<xs:attribute name="service-id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!-- CR1789 FindPackagesByServiceIdOneStep END -->
	
		
	<!--
	Begin Inactivate Subscription Response Schema
	-->
	<xs:element name="inactivate-subscription-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	End Inactivate Subscription Response Schema
	-->
	<!--
		Begin Modify Subscription Charging Method Response
	-->
	<xs:element name="modify-subscription-charging-method-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Modify Subscription Charging Method Response
	-->
	<!--
        This xml structure represents the payload returned by the REST interface when a
        usage-authorisation has failed. It represents the options available to the given user
         in relation to how they can contain a given package. This structure should contain
        a rich enough set of data to facilitate a purchase-request for a given package.
        -->
	<xs:element name="purchase-options">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reason-code" type="common:reason-codeType"/>
				<xs:element name="sub-reason-code" type="common:reason-codeType"/>
				<xs:element name="super-credit-balances" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resource-balance" type="common:resource-BalanceType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="packages">
					<xs:complexType>
						<xs:sequence>
							<!--
                             Package mapping. Multiple packages can be returned if a usage-authorisaton
                            is unsuccessful.
                            -->
							<xs:element name="package" type="common:packageType" minOccurs="0" maxOccurs="unbounded"/>
							<!--
                             END Package mapping.
                            -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="has-promotions" type="xs:boolean"/>
				<xs:element name="promotional-packages" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package-id" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		End Purchase Options
	-->
	<!--
        CR1938 - This xml structure represents the payload returned by the REST interface when a
        usage-authorisation has failed. It represents the options available to the given user
         in relation to how they can contain a given package. This structure should contain
        a rich enough set of data to facilitate a purchase-request for a given package.
        -->
	<xs:element name="purchase-options-plus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reason-code" type="common:reasonCodeFullType"/>
				<xs:element name="sub-reason-code" type="common:reasonCodeFullType"/>
				<xs:element name="super-credit-balances" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="resource-balance" type="common:resourceBalanceFullType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="packages">
					<xs:complexType>
						<xs:sequence>
							<!--
                             Package mapping. Multiple packages can be returned if a usage-authorisaton
                            is unsuccessful.
                            -->
							<xs:element name="package" type="common:catalogPackageFullType" minOccurs="0" maxOccurs="unbounded"/>
							<!--
                             END Package mapping.
                            -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="has-promotions" type="xs:boolean"/>
				<xs:element name="promotional-packages" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package-id" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		End Purchase Options Plus
	-->	
	<!--
		Begin Selfcare Subscrtiptions Response
	-->
	<xs:element name="selfcare-subscriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="subscription" type="common:subscriptionType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Selfcare Subscrtiptions Response
	-->
	<!--
		Begin Selfcare Micro Services Response
	-->
	<xs:element name="selfcare-micro-services">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="micro-service" type="common:micro-service-type" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Selfcare Micro Services Response
	-->
	<!--
		Begin Selfcare Transactions Response
	-->
	<xs:element name="selfcare-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transaction" type="common:transactionType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Selfcare Transactions Response
	-->
	<!-- 
		Begin Usage Authorisation
     -->
	<xs:element name="usage-authorisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-reserved-only" type="xs:boolean"/>
				<xs:element name="interactive" type="xs:boolean"/>
				<xs:element name="is-success" type="xs:boolean"/>
				<xs:element name="package" type="common:packageType"/>
				<xs:element name="price-point" type="common:price-pointType"/>
				<xs:element name="service-price-point" type="common:price-pointType"/>
				<xs:element name="user-resource-balance" type="common:resource-BalanceType"/>
				<xs:element name="package-subscription-id" type="xs:string"/>
				<xs:element name="reason-code" type="common:reason-codeType"/>
				<xs:element name="sub-reason-code" type="common:reason-codeType"/>
				<xs:element name="receipting-credit-balance-impact" type="xs:double"/>
				<xs:element name="receipting-usage-type-attribute" type="xs:int"/>
				<xs:element name="transaction-id" type="xs:string"/>
				<xs:element name="is-successful-express-purchase" type="xs:boolean"/>
				<xs:element name="rate" type="xs:double"/>
				<xs:element name="drm-object" type="common:drm-objectType"/>
				<xs:element name="error-description" type="xs:string" minOccurs="0"/>
				<xs:element name="error-id" type="xs:string" minOccurs="0"/>
				<xs:element name="payment-status" type="common:paymentStatusType" minOccurs="0"/>
				<xs:element name="re-issue" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		End Usage Authorisation
     -->
	<!-- 
		CR1938 - Begin Usage Authorisation Plus
     -->
	<xs:element name="usage-authorisation-plus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-reserved-only" type="xs:boolean"/>
				<xs:element name="interactive" type="xs:boolean"/>
				<xs:element name="is-success" type="xs:boolean"/>
				<xs:element name="package" type="common:catalogPackageFullType"/>
				<xs:element name="price-point" type="common:pricePointFullType"/>
				<xs:element name="service-price-point" type="common:pricePointFullType"/>
				<xs:element name="user-resource-balance" type="common:resourceBalanceFullType"/>
				<xs:element name="package-subscription-id" type="xs:string"/>
				<xs:element name="reason-code" type="common:reasonCodeFullType"/>
				<xs:element name="sub-reason-code" type="common:reasonCodeFullType"/>
				<xs:element name="receipting-credit-balance-impact" type="xs:double"/>
				<xs:element name="receipting-usage-type-attribute" type="xs:int"/>
				<xs:element name="transaction-id" type="xs:string"/>
				<xs:element name="is-successful-express-purchase" type="xs:boolean"/>
				<xs:element name="rate" type="xs:double"/>
				<xs:element name="drm-object" type="common:drmObjectFullType"/>
				<xs:element name="error-description" type="xs:string" minOccurs="0"/>
				<xs:element name="error-id" type="xs:string" minOccurs="0"/>
				<xs:element name="payment-status" type="common:paymentStatusFullType" minOccurs="0"/>
				<xs:element name="re-issue" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		End Usage Authorisation Plus
     -->     
	<xs:element name="package-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="package" type="common:packageType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
        validate Service Response
    -->
	<xs:element name="validate-service-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
        Validate Service Response
    -->
	<!--
        Validate Promo Code Response
    -->
	<xs:element name="validate-promo-code-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="packages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package" type="common:packageType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Validate Promo-code Response
	-->
	<!-- 
	    Get Services For MSISDN Response
	-->
	<xs:element name="services">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service" type="serviceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
	    End Get Services For MSISDN Response
	-->
	<xs:complexType name="serviceType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!--
        Get Base Prices Response
    -->
	<xs:element name="get-base-prices-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="base-prices" type="common:BasePrice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Get Base Prices Response
	-->
	<!--
        Get Balances Response
    -->
	<xs:element name="get-balances-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="balance" type="common:resource-BalanceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Get Balances Response
	-->
	<!--
        Get Pricepoint Response
    -->
	<xs:element name="get-pricepoint-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="price-point" type="common:price-pointType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Get Pricepoint Response
	-->
	<!--
	  Get Packages Response
    	-->
	<xs:element name="get-packages-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="package" type="common:basicPackageType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Packages Response
	-->
	<!--
	  Get Services Response
    	-->
	<xs:element name="get-all-services-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service" type="common:basicServiceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Services Response
	-->
	<!--
	  Get Service Response
    	-->
	<xs:element name="get-service-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service" type="common:erServiceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Service Response
	-->
	<!--
	  Get Next Payment Amount Response
    	-->
	<xs:element name="get-next-payment-amount-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="next-payment-amount" type="common:nextPaymentAmountType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Next Payment Amount Response
	-->
	<!--
        Is Unique Promo Precode Response
    -->
	<xs:element name="is-unique-promo-precode-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-unique-promo-precode" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
        End - Is Unique Promo Precode Response
    -->
	<!--
        Check Promotions Response
    -->
	<xs:element name="check-promotions-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="has-promotions" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Check Promotions Response
	-->
	<!--
        Get SuperCredit Balances Response
    -->
	<xs:element name="get-supercredit-balances-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="balance" type="common:resource-BalanceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Get SuperCredit Balances Response
	-->
	<!-- 
		Begin Renew Purchase Authorisation
     -->
	<xs:element name="renew-purchase-authorisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-reserved-only" type="xs:boolean"/>
				<xs:element name="interactive" type="xs:boolean"/>
				<xs:element name="is-success" type="xs:boolean"/>
				<xs:element name="user-resource-balance" type="common:resource-BalanceType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="package-subscription-id" type="xs:string"/>
				<xs:element name="reason-code" type="common:reason-codeType"/>
				<xs:element name="sub-reason-code" type="common:reason-codeType"/>
				<xs:element name="transaction-id" type="xs:string"/>
				<xs:element name="rate" type="xs:double"/>
				<xs:element name="error-description" type="xs:string"/>
				<!-- CR2237 adding error id to renew -->
                <xs:element name="error-id" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		End Renew Purchase Authorisation
     -->
	<!--
        Rate Package Response
    -->
	<xs:element name="rate-package-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="package" type="common:packageType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	    End - Rate Package Response
	-->
	<!--
	Get Version Response
    -->
	<xs:element name="get-version-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	End - Get Version Response
    -->
    
    <xs:element name="er-version-info-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="er-version-info" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
	<!--
	  Get Tax Response
    	-->
	<xs:element name="get-tax-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tax" type="common:taxType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Tax Response
	-->
	<!--
	  Get Parent Transaction Response
    	-->
	<xs:element name="get-parent-transaction-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parent-transaction" type="common:parentTransactionType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Parent Transaction Response
	-->
	<!--
	  Get Reason Codes Response
    	-->
	<xs:element name="get-reason-codes-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reason-code" type="common:reason-codeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Reason Codes Response
	-->
	<!--
	  Get Find Packages With Service Response
    	-->
	<xs:element name="find-packages-with-service-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="packages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package" type="common:packageType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  End - Get Packages With Service Response
	-->
	<!-- Refund Authorization -->
	<xs:element name="refund-authorisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-success" type="xs:boolean"/>
				<xs:element name="reason-code" type="common:reason-codeType"/>
				<xs:element name="transaction-id" type="xs:string"/>
				<xs:element name="error-description" type="xs:string" minOccurs="0"/>
				<xs:element name="error-id" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- REMEDY 6780 and 6778, Bruno Meseguer, missing decoupling API -->
	<xs:element name="basic-account">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ban" type="xs:string"/>
				<xs:element name="msisdn" type="xs:string"/>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="payment-card-details" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="number" type="xs:string"/>
							<xs:element name="issue-number" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="start-date" type="xs:dateTime"/>
							<xs:element name="expiry-date" type="xs:dateTime"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="xs:int"/>
				<xs:element name="user-groups" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="spend-limits" minOccurs="0"> <!-- CR2040 MPAY spend limits -->
					<xs:complexType>
						<xs:sequence>
							<xs:element name="per-tx-limit" type="xs:double"/> <!-- per transaction spend limit -->
							<xs:element name="per-day-limit" type="xs:double"/> <!--   per day spend limit -->
							<xs:element name="per-month-limit" type="xs:double"/> <!-- per month spend limit -->
							<xs:element name="cumulative-spend-day" type="xs:double"/> <!-- cumulative spend for today -->
							<xs:element name="cumulative-spend-month" type="xs:double"/> <!-- cumulative spend for this calendar month -->
						</xs:sequence>
					</xs:complexType>
				</xs:element> <!--  CR2040 MPAY spend limits End -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="notification-subscribe-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	

	<xs:element name="inactivate-account-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="modify-ban-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="modify-msisdn-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- END REMEDY 6780 and 6778 -->

	<!-- 
		CR-0978 Location Services
		Begin Modify Tariff Authorisation Response
     -->
	<xs:element name="modify-tariff-authorisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-success" type="xs:boolean"/>
				<xs:element name="reason-code" type="common:reason-codeType"/>
				<xs:element name="purchase-tariff-authorisations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="purchase-tariff-authorisation" type="common:purchase-tariff-authorisationType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inactivate-tariff-authorisations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="inactivate-tariff-authorisation" type="common:inactivate-tariff-authorisationType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
    <xs:element name="get-tariff-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tariff-name" type="xs:string"/>
				<xs:element name="package-ids" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package-id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
    <!-- END CR-0978 Location Services -->
    
    <!--
		CR1528 - Begin Selfcare Lite Transactions Response
	-->
	<xs:element name="selfcare-lite-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lite-transaction" type="common:transactionLiteType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		End Selfcare Lite Transactions Response
	-->
 <!--CR1564-utctimezone for diff region -->
 <xs:element name="modify-timezone-reponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Billingcycle -->
	 <xs:element name="modify-billingcycle-reponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	 <xs:element name="modify-usergroup-reponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
 <!-- end-CR1564 -->
	<!-- CR1564 - Get full account -->
	<xs:element name="full-account">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ban" type="xs:string"/>
				<xs:element name="msisdn" type="xs:string"/>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="payment-card-details" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="number" type="xs:string"/>
							<xs:element name="issue-number" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="start-date" type="xs:dateTime"/>
							<xs:element name="expiry-date" type="xs:dateTime"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="status" type="xs:int"/>
				<xs:element name="user-groups" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="billing-cycle-date" type="xs:int"/>
				<xs:element name="country" type="xs:string"/> <!--  2 letter country code - 'UK', 'RU' -->
				<xs:element name="utc-offset" type="xs:string" minOccurs="0"/> <!-- Timezone which this account is set to in utc, i.e. '+00:00UTC', '+08:00UTC' -->
                <xs:element name="sp-id" type="xs:string" minOccurs="0"/>		<!-- CR 1643 - Pre-Pay Post-Pay Split -->
				<xs:element name="is-prepay" type="xs:string" minOccurs="0"/>	<!-- CR 1643 - Pre-Pay Post-Pay Split -->
				<xs:element name="last-validate-date" type="xs:dateTime"/>
				<xs:element name="timestamp" type="xs:dateTime"/>
				<xs:element name="child-sp-id" type="xs:string" minOccurs="0"/> <!-- CR2198 Add Child Service Provider Id to Account -->
				<xs:element name="sp-type" type="xs:string" minOccurs="0"/>		<!-- CR2198 Add Service Provider Type to Account -->
                                <xs:element name="spend-limits" minOccurs="0"> <!-- MQC8051 -->
                                        <xs:complexType>
                                                <xs:sequence>
                                                        <xs:element name="per-tx-limit" type="xs:double"/> <!-- per transaction spend limit -->
                                                        <xs:element name="per-day-limit" type="xs:double"/> <!--   per day spend limit -->
                                                        <xs:element name="per-month-limit" type="xs:double"/> <!-- per month spend limit -->
                                                        <xs:element name="cumulative-spend-day" type="xs:double"/> <!-- cumulative spend for today -->
                                                        <xs:element name="cumulative-spend-month" type="xs:double"/> <!-- cumulative spend for this calendar month -->
                                                </xs:sequence>
                                        </xs:complexType>
                                </xs:element> <!--  MQC8051 -->

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- End CR1564 - Get full account -->
	<!--
		CR1564 - Begin Selfcare Full Subscrtiptions Response
	-->
	<xs:element name="selfcare-full-subscriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="subscription" type="common:subscriptionFullType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		CR1564 - End Selfcare Full Subscriptions Response
	-->
	<!--
		CR1564 - Begin Selfcare Full Transactions Response
	-->
	<xs:element name="selfcare-full-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transaction" type="common:transactionFullType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		CR1564 - End Selfcare Full Transactions Response
	-->

<!-- CR 1791 Modify Subscription Start-->
	
	<xs:element name="modify-subscription-authorization">
		<xs:complexType>
			<xs:sequence>
            	<xs:element name="is-success" type="xs:boolean" />
             	<xs:element name="reason-code" type="common:reason-codeType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- CR 1791 Modify Subscription End-->

       <!-- 
                CR 1619 - Start  - return application configuration
       -->
        <xs:element name="application-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="application" type="xs:string"/> 
				<xs:element name="version" type="xs:string"/> 
				<xs:element name="releaseDate" type="xs:string"/> 
				<xs:element name="runningAs" type="xs:string"/> 
				<xs:element name="country" type="xs:string"/> 
				<xs:element name="language" type="xs:string"/> 
				<xs:element name="environment" type="xs:string"/> 
				<xs:element name="priceplans" type="common:priceplanTypes" minOccurs="0"/> 
			</xs:sequence>
		</xs:complexType>
        </xs:element> 
        <!-- CR 1619 end -->
       
	<!-- 
		CR 1643 - Pre-Pay Post-Pay Split
	-->
	<xs:element name="modify-sp-id-reponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="modify-prepay-flag-reponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		CR 1643 - Ends
	-->

	<!--
	CR1759 - UpdateServiceStatus
	-->
	<xs:element name="provision-full-update-service-status">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="update-service-status-authorisation" type="common:updateServiceStatusAuthorisationFullType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="provision-simple-update-service-status">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="success" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	CR1759 - UpdateServiceStatus end
	-->
	
  <!-- CR1759 - start -->
  <xs:element name="catalog-full-pricepoint">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="pricepoint" type="common:pricePointFullType" minOccurs="0"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="catalog-full-package">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="package" type="common:catalogPackageFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="catalog-full-packages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="packages" type="common:catalogPackageFullType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- MQC7353 -->
      <xs:element name="catalog-little-packages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="packages" type="common:catalogPackageLittleType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- MQC7353 -->
    
  <xs:element name="custcare-full-refund-monetary">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="refundAuthorisation" type="common:refundAuthorisationFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="custcare-full-refund-enlargement">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="refundAuthorisation" type="common:refundAuthorisationFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="custcare-full-refund-discount">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="refundAuthorisation" type="common:refundAuthorisationFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="custcare-full-refund-credit">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="refundAuthorisation" type="common:refundAuthorisationFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="selfcare-full-transaction">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="transaction" type="common:transactionFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="selfcare-full-subscription">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="subscription" type="common:subscriptionFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="catalog-full-service">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service" type="common:erServiceFullType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="selfcare-full-balances">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="balance" type="common:resourceBalanceFullType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- CR1759 - end -->
  
  <!-- CR1923 - start -->
  <xs:element name="trading-limit-partners">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="partner-id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
  </xs:element>
  
  <xs:element name="partner-trading-limits">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="partner-trading-limit" type="common:partnerTradingType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- CR1923 - end -->

	<!--
	  CR2068 This is a response to a get all services with partnerids request.
    -->
	<xs:element name="get-all-services-partners-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service" type="common:servicePartnerType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
	  CR2068 End
	-->
	
	<!-- 
		CR2082 Begin Validate Authorisation, result from a validation call to the opco ERIF
     -->
	<xs:element name="validate-msisdn-response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="is-chargeable" type="xs:boolean"/>
				<xs:element name="error-id" type="xs:string" minOccurs="0"/>
				<xs:element name="error-description" type="xs:string" minOccurs="0"/>
				<!-- CR2195 - add spid -->
				<xs:element name="spid" type="xs:string" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
		CR2082 End Validate Authorisation
     -->
     
    <!--  CR2040 MPAY Goodwill credit response -->
	<xs:element name="goodwill-credit-response">
		<xs:complexType>
			<xs:sequence>
 				<xs:element name="is-success" type="xs:boolean"/> <!-- was request successful (true) or not (false) -->
				<xs:element name="transaction-id" type="xs:string" minOccurs="0"/> <!-- ER transaction ID for the goodwill credit -->
				<xs:element name="subscription-id" type="xs:string" minOccurs="0"/> <!-- ER subscription  ID of subscription created for goodwill credit package (Event Package) -->
				<xs:element name="reason-code" type="common:reason-codeType"/> <!-- standard ER reason code -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  CR2040 MPAY Goodwill credit response End -->
	
	<!--  CR2040 MPAY Modify spend limits response-->
	<xs:element name="modify-spend-limits-response">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="is-success" type="xs:boolean"/>
			<xs:element name="reason-code" type="common:reason-codeType"/> <!-- standard ER reason code -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  CR2040 MPAY Modify spend limits response End -->

	<!-- CR2198 Add Child Service Provider Id to Account -->
	<xs:element name="modify-child-sp-id-response">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- CR2198 Add Service Provider Type to Account -->
	<xs:element name="modify-sp-type-response">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
		    <xs:element name="reason-code" type="common:reason-codeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
</xs:schema>
