ER_api/schemas/countrycodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Ly Le (Vodafone US) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="IDD_prefix" type="xs:int"/>
	<xs:element name="async_psps" type="xs:int"/>
	<xs:element name="countries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="country" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="locale"/>
				<xs:element ref="language"/>
				<xs:element ref="IDD_prefix"/>
				<xs:element ref="currency_code"/>
				<xs:element ref="async_psps" minOccurs="0"/>
				<xs:element ref="sync_psps" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="currency_code" type="xs:int"/>
	<xs:element name="id" type="xs:int"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="locale" type="xs:string"/>
	<xs:element name="sync_psps" type="xs:int"/>
</xs:schema>
