ER_api/schemas/currencycodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Ly Le (Vodafone US) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="code" type="xs:int"/>
	<xs:element name="currencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="currency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="name"/>
				<xs:element ref="symbol" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="symbol" type="xs:string"/>
</xs:schema>
