DECOUPLING_common/resources/schemas/common/pa_common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://localhost:8080/decoupling/schemas/common"
	targetNamespace="http://localhost:8080/decoupling/schemas/common">
	<!-- Payload Definition -->
	<xs:complexType name="payloadType">
		<xs:sequence>
		<!-- QC10093 changed from skip to lax -->
			<xs:any processContents="lax" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- END Payload Definition -->
	<!-- PricePoint definition -->
	<xs:complexType name="price-pointType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="discount-promo-text" type="xs:string" />
			<xs:element name="net-rate" type="xs:double" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="standard-rate" type="xs:double" />
			<xs:element name="standard-rate-as-string" type="xs:string" />
			<xs:element name="price-point-id-link" type="xs:string" />
			<xs:element name="purchase-link-text" type="xs:string" />
			<xs:element name="promo-code" type="xs:string" />
			<xs:element name="fixed-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="is-active" type="xs:boolean" />
			<xs:element name="is-preview" type="xs:boolean" />
			<xs:element name="is-pre-order" type="xs:boolean" />
			<xs:element name="is-trial" type="xs:boolean" />
			<xs:element name="is-discount" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="interactive-flag" type="xs:string" />
			<xs:element name="drm-object" type="drm-objectType" />
			<xs:element name="charging-resource" type="charging-resourceType" />
			<xs:element name="is-valid-super-credit-option" type="xs:boolean" />
			<xs:element name="duration" type="durationType" />
			<xs:element name="order" type="xs:int" />
			<xs:element name="min-sub-period" type="xs:int" />
			<xs:element name="balance-impacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="balance-impact" type="charging-resourceType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="balance-impact-rates" minOccurs="0" type="balanceImpactRates" />
			<xs:element name="rate" type="xs:double" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="super-credit-price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="super-credit-price-point" type="super-credit-price-pointType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="roaming-net-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-gross-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string" />
			<!-- REMEDY 7063 -->
			<xs:element name="payment-type" type="xs:int" minOccurs="0" />
			<!-- CR1803 - start -->
			<xs:element name="custom-fields" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="custom-field" type="customFieldType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1803 - end -->
			<!-- MQC 7458 - add start and expiry dates to the pricepoint, these are only returned
			for the findPackagesWithService request when pricepoint-start-end-dates-required flag is set true on the request -->
			<xs:element name="start-date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="expiry-date" type="xs:dateTime" minOccurs="0" />
			<!-- MQC 7458 - add user groups to the pricepoint, these are only returned
			for the findPackagesWithService request when pricepoint-user-groups-required flag is set true on the request -->
			<xs:element name="user-groups" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="user-group" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- END price mapping -->
		</xs:sequence>
	</xs:complexType>
	<!-- END PricePoint definition -->
	<!-- SuperPricePoint definition -->
	<xs:complexType name="super-credit-price-pointType">
		<xs:sequence>
			<xs:element name="rate-identifier" type="xs:string" />
			<xs:element name="super-credit-text" type="xs:string" />
			<xs:element name="is-active" type="xs:boolean" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="discount-promo-text" type="xs:string" />
			<xs:element name="net-rate" type="xs:double" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="standard-rate" type="xs:double" />
			<xs:element name="standard-rate-as-string" type="xs:string" />
			<xs:element name="price-point-id-link" type="xs:string" />
			<xs:element name="purchase-link-text" type="xs:string" />
			<xs:element name="promo-code" type="xs:string" />
			<xs:element name="fixed-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="is-preview" type="xs:boolean" />
			<xs:element name="is-pre-order" type="xs:boolean" />
			<xs:element name="is-trial" type="xs:boolean" />
			<xs:element name="is-discount" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="interactive-flag" type="xs:boolean" />
			<xs:element name="drm-object" type="drm-objectType" />
			<xs:element name="charging-resource" type="charging-resourceType" />
			<xs:element name="is-valid-super-credit-option" type="xs:boolean" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="roaming-net-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-gross-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- END SuperPricePoint definition -->
	<!-- ChargingResource mapping -->
	<xs:complexType name="charging-resourceType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="translated-resource-name" type="xs:string" />
			<xs:element name="code" type="xs:string" />
			<xs:element name="is-usage-token" type="xs:boolean" />
			<xs:element name="is-pay-token" type="xs:boolean" />
			<xs:element name="is-resource" type="xs:boolean" />
			<xs:element name="is-currency" type="xs:boolean" />
			<xs:element name="resource-name" type="xs:string" />
			<xs:element name="resource-symbol" type="xs:string" />
			<xs:element name="is-super-credit" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<!-- END ChargingResource mapping -->
	<!-- ChargingResource mapping -->
	<xs:complexType name="resource-BalanceType">
		<xs:sequence>
			<xs:element name="subscription-id" type="xs:string" />
			<xs:element name="oldest-subscription-id" type="xs:string" />
			<xs:element name="package-id" type="xs:string" />
			<xs:element name="threshold" type="xs:int" />
			<xs:element name="charging-resource" type="charging-resourceType" />
			<xs:element name="balance" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<!-- END ChargingResource mapping -->
	<!-- Price definition -->
	<xs:complexType name="priceType">
		<xs:sequence>
			<xs:element name="amount" type="xs:string" />
			<xs:element name="currency" type="xs:string" />
			<xs:element name="duration" type="xs:string" />
			<xs:element name="units" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="price" />
					<xs:enumeration value="pre-ordered" />
					<xs:enumeration value="recurring" />
					<xs:enumeration value="promotional" />
					<xs:enumeration value="offer" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- End Price definition -->
	<!-- DRM-Object definition -->
	<xs:complexType name="drm-objectType">
		<xs:sequence>
			<xs:element name="key" type="xs:string" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="drm-type" type="drm-typeType" />
		</xs:sequence>
	</xs:complexType>
	<!-- End DRM-Object definition -->
	<!-- DRM-type definition -->
	<xs:complexType name="drm-typeType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="is-drm" type="xs:boolean" />
			<xs:element name="is-jdp" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<!-- End DRM-type definition -->
	<!-- Text definition -->
<!-- 	<xs:complexType name="textType" mixed="true">
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="offer-price" />
					<xs:enumeration value="special-offer" />
					<xs:enumeration value="subscribe-to" />
					<xs:enumeration value="usual-price" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="paragraph" />
					<xs:enumeration value="heading" />
					<xs:enumeration value="hard-return-line-item" />
					<xs:enumeration value="............." />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="style">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="italic" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType> -->
	<!-- End Text definition -->
	<!-- Package Definition -->
	<xs:complexType name="packageType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="simple-package-id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="is-reserve-only" type="xs:boolean" />
			<xs:element name="package-type" type="xs:string" />
			<xs:element name="drm-type" type="drm-typeType" />
			<xs:element name="express-purchase" type="xs:boolean" />
			<xs:element name="is-receipting-flag" type="xs:boolean" />
			<xs:element name="is-event-package" type="xs:boolean" />
			<xs:element name="is-calendar-package" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="rate" type="xs:double" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="price-point" type="price-pointType" />
			<xs:element name="sub-price-point" type="price-pointType"
				minOccurs="0" />
			<xs:element name="is-price-point-ordered" type="xs:boolean" />
			<xs:element name="partner-logo" type="xs:string"
				minOccurs="0" />
			<xs:element name="partner-text" type="xs:string"
				minOccurs="0" />
			<xs:element name="price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="price-point" type="price-pointType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- MQC 7458 add notification category -->
			<xs:element name="notification-category" type="xs:string" minOccurs="0" />
			<!-- MQC 7733 - package status -->
			<xs:element name="status" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- END Package Definition -->
	<!-- RatingAttributes mapping -->
	<xs:complexType name="ratingAttributesType">
		<xs:sequence>
			<xs:element name="asset-id" type="xs:string" minOccurs="0" />
			<xs:element name="content-name" type="xs:string"
				minOccurs="0" />
			<xs:element name="device-id" type="xs:string" minOccurs="0" />
			<xs:element name="device-type" type="xs:int" minOccurs="0" />
			<xs:element name="payment-type" type="xs:int" minOccurs="0" />
			<xs:element name="bearer" type="xs:string" minOccurs="0" />
			<xs:element name="event-date-time" type="xs:dateTime"
				minOccurs="0" />
			<!-- please note the is-interactive flag corresponds to disableInteractivity() 
				if set to false. -->
			<xs:element name="express-purchase-flag" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-interactive" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="promo-code" type="xs:string" minOccurs="0" />
			<xs:element name="device-name" type="xs:string" minOccurs="0" />
			<xs:element name="access-channel" type="xs:string"
				minOccurs="0" />
			<!-- CR-1791 -->
			<xs:element name="duration-code" type="xs:int" minOccurs="0" />
			<xs:element name="duration" type="durationType" minOccurs="0" />
			<xs:element name="payment-information" type="xs:string"
				minOccurs="0" />
			<xs:element name="network-code-string" type="xs:string"
				minOccurs="0" />
			<xs:element name="pre-rate" type="xs:double" minOccurs="0" />
			<!-- Added for CR2108 -->
			<xs:element name="renewal-pre-rate" type="xs:double" minOccurs="0" />
			<!-- added for CR 2145. Default value is false -->
			<xs:element name="pre-rate-price-is-gross" type="xs:boolean" minOccurs="0"/>
			<xs:element name="purchase-channel" type="xs:string"
				minOccurs="0" />
			<!-- TSM R10 -->
			<xs:element name="tax-rate" type="xs:double" minOccurs="0" />
			<!-- CR1231 -->
			<xs:element name="has-tax-rate" type="xs:boolean"
				minOccurs="0" />
			<!-- CR704 Affiliate ID -->
			<xs:element name="affiliate-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-field1" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-field2" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-trans-id" type="xs:string"
				minOccurs="0" />
			<!-- CR-0978 Location Services -->
			<xs:element name="tariff" type="xs:string" minOccurs="0" />
			<!-- CR-0869 start -->
			<xs:element name="partner-id" type="xs:string" minOccurs="0" />
			<xs:element name="aggregator-id" type="xs:string"
				minOccurs="0" />
			<!-- CR-0869 end -->
			<!-- CR-1209 start -->
			<xs:element name="recipient-msisdn" type="xs:string"
				minOccurs="0" />
			<xs:element name="product-code" type="xs:string"
				minOccurs="0" />
			<!-- CR-1209 end -->
			<!-- CR-1448 start -->
			<xs:element name="merchant-name" type="xs:string"
				minOccurs="0" />
			<xs:element name="invoice-text" type="xs:string"
				minOccurs="0" />
			<!-- CR-1448 end -->
			<!-- MQC-5915 -->
			<xs:element name="channel" type="xs:int" minOccurs="0" />
			<!-- CR-1791 Start -->
			<xs:element name="short-package-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="tax-code" type="xs:string" minOccurs="0" />
			<xs:element name="charging-method" type="xs:int"
				minOccurs="0" />
			<xs:element name="user-group" type="xs:string" minOccurs="0" />
			<xs:element name="has-historic-price-point-flag" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="history-start-date" type="xs:dateTime"
				minOccurs="0" />
			<!-- CR-1791 End -->
			<!-- CR-2134 add vendor id -->
			<xs:element name="vendor-id" type="xs:string" minOccurs="0" />
			<!-- MQC 7733 add csr id -->
			<xs:element name="csr-id" type="xs:string" minOccurs="0"/>
			<!-- CR 2255 add content category -->
			<xs:element name="content-category" type="xs:string" minOccurs="0"/>
			<!-- CR 2255 add partner info -->
			<xs:element name="partner-url" type="xs:string" minOccurs="0"/>
			<xs:element name="partner-contact-info" type="xs:string" minOccurs="0"/>
			<xs:element name="partner-email" type="xs:string" minOccurs="0"/>
			<!-- JIRA ET68 add partner name -->
			<xs:element name="partner-name" type="xs:string" minOccurs="0"/>
			<!-- JIRA ET391 Add external fields to ER_subscriptions and pass to ERIF & PNH -->
			<xs:element name="external-identifier1" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier2" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier3" type="xs:string" minOccurs="0"/>
			
		</xs:sequence>
	</xs:complexType>
	<!-- MQC 6569 Start Some RatingAttributes are only used in the Decoupling 
		Request but are not included in the response. To ensure that clients are 
		not broken, this additional type is created to enable us to return the missing 
		attributes which are related to the Transactions TransactionResponseAttributes 
		mapping -->
	<xs:complexType name="TransactionResponseAttributesType">
		<xs:sequence>
			<xs:element name="asset-id" type="xs:string" minOccurs="0" />
			<xs:element name="content-name" type="xs:string"
				minOccurs="0" />
			<xs:element name="payment-information" type="xs:string"
				minOccurs="0" />
			<xs:element name="affiliate-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-field1" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-field2" type="xs:string"
				minOccurs="0" />
			<xs:element name="external-trans-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="partner-id" type="xs:string" minOccurs="0" />
			<xs:element name="aggregator-id" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- MQC 6569 End End TransactionResponseAttributes mapping -->
	<!-- ReasonCode mapping -->
	<xs:complexType name="reason-codeType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="sub-code" type="xs:int" minOccurs="0" />
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- End ReasonCode mapping -->
	<!-- Mappings to help map some service id related components which are part 
		of the subscription mapping -->
	<xs:complexType name="service-non-refund-descriptionType"
		mixed="true">
		<xs:attribute name="service-id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="service-provisioning-tagType"
		mixed="true">
		<xs:attribute name="service-id" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="service-statusType" mixed="true">
		<xs:attribute name="service-id" type="xs:string" use="required" />
	</xs:complexType>
	<!-- END Mappings to help map some service id related components which are 
		part of the subscription mapping. -->
	<!-- Subscription Mapping -->
	<xs:complexType name="subscriptionType">
		<xs:sequence>
			<xs:element name="package" type="packageType" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="start-date" type="xs:dateTime" />
			<xs:element name="purchase-date" type="xs:dateTime" />
			<xs:element name="expiry-date" type="xs:dateTime" />
			<xs:element name="has-expired" type="xs:boolean" />
			<xs:element name="resource-balances">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance" type="resource-BalanceType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-recurring" type="xs:boolean" />
			<xs:element name="status" type="xs:int" />
			<xs:element name="translated-status" type="xs:string" />
			<xs:element name="rating-attributes" type="ratingAttributesType" />
			<xs:element name="final-min-subscription-end-date" type="xs:dateTime" />
			<xs:element name="current-number-of-occurences" type="xs:int" />
			<xs:element name="min-subscription-period-elapsed" type="xs:boolean" />
			<xs:element name="is-preordered" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="transactions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transaction" type="transactionType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="super-credit-id" type="xs:string" />
			<xs:element name="translated-super-credit-name" type="xs:string" />
			<xs:element name="super-credit-balances" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance" type="resource-BalanceType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="overdue-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="has-valid-micro-service" type="xs:boolean" />
			<!-- MQC 4132 -->
			<xs:element name="services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="service-id" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- MQC 4132 -->
			<!-- MQC 5799 rollback -->
			<!-- MQC 5985 add back in -->
			<xs:element name="disallow-cancellations" type="xs:boolean"
				minOccurs="0" />
			<!-- CR2255 Phase2 - add partner information -->
			<xs:element name="b2b-partner" type="b2bPartnerType"
				minOccurs="0" />
			<!--  MQC 9655 - add parent package id -->
			<xs:element name="parent-package-id" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="micro-service-type">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="access-duration" type="xs:double" />
			<xs:element name="valid" type="xs:boolean" />
			<xs:element name="first-access-time" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	<!-- End Subscription Mapping -->
	<!-- Transaction Mapping -->
	<xs:complexType name="transactionType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="purchase-date" type="xs:dateTime" />
			<xs:element name="purchase-rate" type="xs:double" />
			<xs:element name="purchase-currency" type="charging-resourceType" />
			<xs:element name="created-by-super-credit" type="xs:boolean" />
			<xs:element name="auth-code" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="csr-id" type="xs:string" />
			<xs:element name="subscription" type="subscriptionType"
				minOccurs="0" />
			<xs:element name="super-credit-id" type="xs:string" />
			<xs:element name="translated-super-credit-name" type="xs:string" />
			<xs:element name="roaming-tax-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string"
				minOccurs="0" />
			<xs:element name="network-code" type="xs:string"
				minOccurs="0" />
			<xs:element name="is-package-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-new-package-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-payment-content" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-recurring-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-renewal-payment" type="xs:boolean"
				minOccurs="0" />
			<!-- MQC 6569 Start If the incoming request asks for additional transaction 
				attributes, then this object is populated and returned in the response only. -->
			<xs:element name="transaction-response-attributes" type="TransactionResponseAttributesType"
				minOccurs="0" />
			<!-- MQC 6569 End -->
			<!-- MQC 6834 - If the incoming request ask for purchase rate gross then 
				this field is populated and returned in the response. -->
			<xs:element name="purchase-rate-gross" type="xs:double"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- END Transaction Mapping -->
	<!-- Duration Mapping -->
	<xs:complexType name="durationType">
		<xs:sequence>
			<xs:element name="unit" type="xs:string" />
			<xs:element name="value" type="xs:int" />
			<xs:element name="duration-code" type="xs:int" />
			<xs:element name="translated-duration-string" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- END Duration Mapping -->
	<!-- REMEDY 6332 -->
	<xs:complexType name="BasePrice">
		<xs:sequence>
			<xs:element name="service-id" type="xs:string" />
			<xs:element name="rate" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Balance-filter">
		<xs:sequence>
			<xs:element name="only-ace-attribute" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<!-- END REMEDY 6332 -->
	<!-- REMEDY 6333 - Basic Package Mapping -->
	<xs:complexType name="basicPackageType">
		<xs:sequence>
			<xs:element name="package-id" type="xs:string" />
			<xs:element name="package-name" type="xs:string" />
			<!-- MQC 7733 - add package status -->
			<xs:element name="status" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6333 - END Basic Package Mapping -->
	<!-- REMEDY 6333 - Basic Service Mapping -->
	<xs:complexType name="basicServiceType">
		<xs:sequence>
			<xs:element name="service-id" type="xs:string" />
			<xs:element name="service-name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6333 - END Basic Service Mapping -->
	<!-- Service Definition -->
	<xs:complexType name="erServiceType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="is-reserve-only" type="xs:boolean" />
			<xs:element name="service-type" type="xs:string" />
			<xs:element name="price-point" type="price-pointType" />
			<xs:element name="price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="price-point" type="price-pointType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-default-type" type="xs:boolean" />
			<xs:element name="provisioning-system" type="xs:string" />
			<xs:element name="provisioning-tag" type="xs:string" />
			<xs:element name="usage-id" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- END Service Definition -->
	<!-- REMEDY 6333 - Next Payment Amount Definition -->
	<xs:complexType name="nextPaymentAmountType">
		<xs:sequence>
			<xs:element name="rate" type="xs:double" />
			<xs:element name="net-rate" type="xs:double" />
			<xs:element name="tax-amount" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6333 - END Next Payment Amount Definition -->
	<!-- REMEDY 6335 - Tax Definition -->
	<xs:complexType name="taxType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="code" type="xs:string" />
			<xs:element name="rate" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6335 - END Tax Definition -->
	<!-- REMEDY 6335 - Parent Transaction Definition -->
	<xs:complexType name="parentTransactionType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="asset-id" type="xs:string" minOccurs="0" />
			<xs:element name="resource-id" type="xs:int" minOccurs="0" />
			<xs:element name="service-id" type="xs:string" minOccurs="0" />
			<xs:element name="total-amount" type="xs:double" />
			<xs:element name="transactions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transaction" type="transactionType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6335 - END Parent Transaction Definition -->
	<!-- REMEDY 6405 - Payment Status Definition -->
	<xs:complexType name="paymentStatusType">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="code" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6405 - END Payment Status Definition -->
	<!-- REMEDY 6779 -->
	<!-- MQC 5987 - make paymentTransactionId, parentTransactionId and chargingResource 
		optional -->
	<xs:complexType name="refundAttributesType">
		<xs:sequence>
			<xs:element name="csr-id" type="xs:string" />
			<xs:element name="reason" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="subscription-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="deprovFlag" type="xs:int" minOccurs="0" />
			<xs:element name="refundRoamingCharge" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="paymentTransactionId" type="xs:string"
				minOccurs="0" />
			<xs:element name="parentTransactionId" type="xs:string"
				minOccurs="0" />
			<xs:element name="refundCreditAmount" type="xs:double"
				minOccurs="0" />
			<xs:element name="chargingResource" type="simple-charging-resourceType"
				minOccurs="0" />
			<xs:element name="merchant-name" type="xs:string"
				minOccurs="0" />
			<xs:element name="invoice-text" type="xs:string"
				minOccurs="0" />
			<!-- CR 1528 -->
			<xs:element name="partner-id" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simple-charging-resourceType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="code" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<!-- REMEDY 6779 -->
	<!-- CR-0978 Location Services Begin Purchase Tariff Authorisation -->
	<xs:complexType name="purchase-tariff-authorisationType">
		<xs:sequence>
			<xs:element name="is-success" type="xs:boolean" />
			<xs:element name="package-subscription-id" type="xs:string" />
			<xs:element name="transaction-id" type="xs:string" />
			<xs:element name="reason-code" type="reason-codeType" />
			<xs:element name="rate" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<!-- End Purchase Tariff Authorisation -->
	<!-- CR-0978 Location Services Begin Inactivate Tariff Authorisation -->
	<xs:complexType name="inactivate-tariff-authorisationType">
		<xs:sequence>
			<xs:element name="is-success" type="xs:boolean" />
			<xs:element name="package-subscription-id" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- End Inactivate Tariff Authorisation -->
	<!-- CR1528 - Transaction Lite Mapping -->
	<xs:complexType name="transactionLiteType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="purchase-date" type="xs:dateTime" />
			<xs:element name="purchase-rate" type="xs:double" />
			<xs:element name="purchase-currency" type="xs:string" />
			<xs:element name="transaction-type" type="xs:string" />
			<xs:element name="device-id" type="xs:string" minOccurs="0" />
			<xs:element name="transaction-status" type="xs:string" />
			<!-- CR2270 return content-name, merchant-name and asset-id on the response -->
			<xs:element name="content-name" type="xs:string" minOccurs="0" />
			<xs:element name="merchant-name" type="xs:string" minOccurs="0" />
			<xs:element name="asset-id" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- END Transaction Lite Mapping -->
	<!-- CR1564-utc time value -->
	<xs:simpleType name="utcTimezoneOffset">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+\-][0-9]{2}:[0-9]{2}[Uu][Tt][Cc]" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="billingcycle">
		<xs:restriction base="xs:int" />
	</xs:simpleType>
	<xs:simpleType name="status">
		<xs:restriction base="xs:int" />
	</xs:simpleType>
	<xs:complexType name="usergroups">
		<xs:sequence>
			<xs:element name="usergroup" type="xs:string" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1564-end -->
	<!-- CR1619-start -->
	<xs:complexType name="priceplanTypes">
		<xs:sequence>
			<xs:element name="priceplan" type="priceplanType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="priceplanType">
		<xs:sequence>
			<xs:element name="locale" type="xs:string" />
			<xs:element name="version" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1619-end -->
	<!-- CR 1643 - Pre-Pay Post-Pay Split -->
	<xs:simpleType name="isPrepay">
		<xs:restriction base="xs:string">
			<xs:pattern value="[Pp][Rr][Ee]" />
			<xs:pattern value="[Pp][Oo][Ss][Tt]" />
		</xs:restriction>
	</xs:simpleType>
	<!-- CR 1643 - Ends -->
	<!-- CR-1759 - Update Service Status -->
	<xs:complexType name="updateServiceStatusAuthorisationFullType">
		<xs:sequence>
			<xs:element name="reason-code" type="reason-codeType" />
			<xs:element name="error-description" type="xs:string" />
			<xs:element name="is-success" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<!-- END CR-1759 Update Service Status -->
	<!-- CR1759 - start -->
	<xs:complexType name="refundAuthorisationFullType">
		<xs:sequence>
			<xs:element name="is-success" type="xs:boolean" />
			<xs:element name="refund-transaction-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="refund-enlargement-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="reason-code" type="reason-codeType" />
			<xs:element name="transaction-id" type="xs:string" />
			<xs:element name="error-description" type="xs:string"
				minOccurs="0" />
			<xs:element name="error-id" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pricePointFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="discount-promo-text" type="xs:string" />
			<xs:element name="net-rate" type="xs:double" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="standard-rate" type="xs:double" />
			<xs:element name="standard-rate-as-string" type="xs:string" />
			<xs:element name="price-point-id-link" type="xs:string" />
			<xs:element name="purchase-link-text" type="xs:string" />
			<xs:element name="promo-code" type="xs:string" />
			<xs:element name="fixed-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="is-active" type="xs:boolean" />
			<xs:element name="is-preview" type="xs:boolean" />
			<xs:element name="is-pre-order" type="xs:boolean" />
			<xs:element name="is-trial" type="xs:boolean" />
			<xs:element name="is-discount" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="interactive-flag" type="xs:string" />
			<xs:element name="drm-object" type="drm-objectType" />
			<xs:element name="charging-resource" type="chargingResourceFullType" />
			<xs:element name="is-valid-super-credit-option" type="xs:boolean" />
			<xs:element name="duration" type="durationType" />
			<xs:element name="order" type="xs:int" />
			<xs:element name="min-sub-period" type="xs:int" />
                        <xs:element name="allow-duplicate" type="xs:boolean"  minOccurs="0" />
			<xs:element name="balance-impacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="balance-impact" type="chargingResourceFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="balance-impact-rates" minOccurs="0" type="balanceImpactRates" />

			<xs:element name="rate" type="xs:double" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="super-credit-price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="super-credit-price-point" type="superCreditPricePointFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="roaming-net-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-gross-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string" />
			<xs:element name="payment-type" type="xs:int" minOccurs="0" />
			<!-- CR1759 added -->
			<xs:element name="start-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="tax-rate" type="xs:double" minOccurs="0" />
			<xs:element name="bearer-id" type="xs:string" minOccurs="0" />
			<xs:element name="charging-method" type="xs:int"
				minOccurs="0" />
			<!-- CR1455 - start -->
			<!-- a pricepoint can only ever have one user group... so why the sequence of them? -->
			<xs:element name="user-groups" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="user-group" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element> 
			<xs:element name="user-group" type="xs:string"
							minOccurs="0"/>
			<xs:element name="is-purchaseable-by-super-credit" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="credit-purchase-price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="credit-purchase-price-point" type="superCreditPricePointFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-historic" type="xs:boolean" />
			<xs:element name="price-point-tiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="price-point-tier" type="pricePointTierFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1455 - end -->
			<!-- CR1803 - start -->
			<xs:element name="custom-fields" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="custom-field" type="customFieldFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1803 - end -->
			<!-- MQC 8947, add express flag and channel -->
			<xs:element name="is-express" type="xs:boolean"  minOccurs="0"/>
			<xs:element name="channel" type="xs:int" minOccurs="0" />
			<xs:element name="tariff" type="xs:string" minOccurs="0"/> <!-- ET104 -->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="balanceImpactRate">
		<xs:sequence>
			<xs:element name="rate" type="xs:double" />
		</xs:sequence>
		<xs:attribute name="charging-resource-code" type="xs:string"
		use="required" />

	</xs:complexType>


	<xs:complexType name="balanceImpactRates" >
		<xs:sequence>
			<xs:element name="balance-impact-rate" type="balanceImpactRate"   minOccurs="0"
				maxOccurs="unbounded">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

    <!-- MQC7353 -->
    <xs:complexType name="pricePointLittleType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="allow-duplicate" type="xs:boolean"  minOccurs="0" />
            <xs:element name="user-groups" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user-group" type="xs:string"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
    <!-- MQC7353 -->

	<xs:complexType name="superCreditPricePointFullType">
		<xs:sequence>
			<xs:element name="rate-identifier" type="xs:string" />
			<xs:element name="super-credit-text" type="xs:string" />
			<xs:element name="is-active" type="xs:boolean" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="discount-promo-text" type="xs:string" />
			<xs:element name="net-rate" type="xs:double" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="standard-rate" type="xs:double" />
			<xs:element name="standard-rate-as-string" type="xs:string" />
			<xs:element name="price-point-id-link" type="xs:string" />
			<xs:element name="purchase-link-text" type="xs:string" />
			<xs:element name="promo-code" type="xs:string" />
			<xs:element name="fixed-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="is-preview" type="xs:boolean" />
			<xs:element name="is-pre-order" type="xs:boolean" />
			<xs:element name="is-trial" type="xs:boolean" />
			<xs:element name="is-discount" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="interactive-flag" type="xs:boolean" />
			<xs:element name="drm-object" type="drmObjectFullType" />
			<xs:element name="charging-resource" type="chargingResourceFullType" />
			<xs:element name="is-valid-super-credit-option" type="xs:boolean" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="roaming-net-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-gross-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string" />
			<!-- CR1455 start -->
			<xs:element name="tax-rate" type="xs:double" minOccurs="0" />
			<xs:element name="is-historic" type="xs:boolean" />
			<xs:element name="bearer-id" type="xs:string" minOccurs="0" />
			<!-- CR155 end -->
		</xs:sequence>
	</xs:complexType>
	<!-- used in subscription full type and transaction full type -->
	<xs:complexType name="ratingAttributesFullType">
		<xs:sequence>
			<xs:element name="ratingAttributesType" type="ratingAttributesType"
				minOccurs="0" />
			<xs:element name="charging-method" type="xs:int" minOccurs="0" />
			<!-- Added for CR 2108 -->
			<xs:element name="renewal-pre-rate" type="xs:double" minOccurs="0" />
			<!-- -->
			<xs:element name="user-groups" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="user-group" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="catalogPackageFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="simple-package-id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="is-reserve-only" type="xs:boolean" />
			<xs:element name="package-type" type="xs:string" />
			<xs:element name="drm-type" type="drmTypeFullType" />
			<xs:element name="express-purchase" type="xs:boolean" />
			<xs:element name="is-receipting-flag" type="xs:boolean" />
			<xs:element name="is-event-package" type="xs:boolean" />
			<xs:element name="is-calendar-package" type="xs:boolean" />
			<xs:element name="is-recurring-package" type="xs:boolean" />
			<xs:element name="rate" type="xs:double" />
			<xs:element name="rate-as-string" type="xs:string" />
			<xs:element name="price-point" type="pricePointFullType" />
			<xs:element name="sub-price-point" type="pricePointFullType"
				minOccurs="0" />
			<xs:element name="is-price-point-ordered" type="xs:boolean" />
			<xs:element name="partner-logo" type="xs:string"
				minOccurs="0" />
			<xs:element name="partner-text" type="xs:string"
				minOccurs="0" />
			<xs:element name="price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="price-point" type="pricePointFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1759 - added -->
			<xs:element name="is-package-model" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-revenue-share-by-usage" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-parent-package" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="parent-package-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="service-names" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="service-name" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="child-package-ids" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="child-package-id" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-dynamic-default" type="xs:boolean"
				minOccurs="0" />
			<!-- CR1455 - start -->
			<xs:element name="catalog-services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="catalog-service" type="catalogServiceFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-super-package" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="pricing-models" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pricing-model" type="pricingModelFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1455 - end -->
			<!--  MQC 7458 Add payment content, kpi package product category & notification category to full package-->
			<xs:element name="payment-content" type="paymentContentFullType"  minOccurs="0"/>
			<xs:element name="kpi-package-product-category" type="xs:string" minOccurs="0"/>
			<xs:element name="notification-category" type="xs:string" minOccurs="0" />
			<!-- MQC 7733 - add package level custom fields -->
			<xs:element name="custom-fields" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="custom-field" type="customFieldFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- MQC 7733 - add package status -->
			<xs:element name="status" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- MQC7353 -->
	<xs:complexType name="catalogPackageLittleType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="simple-package-id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="package-type" type="xs:string" />
			<xs:element name="drm-type" type="drmTypeFullType" />
			<xs:element name="rate" type="xs:double" minOccurs="0"/>
			<xs:element name="rate-as-string" type="xs:string" minOccurs="0" />	
			<xs:element name="is-dynamic-default" type="xs:boolean" minOccurs="0" />
			<xs:element name="price-point" type="pricePointLittleType" minOccurs="0"/>		
            <xs:element name="price-points" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="price-point" type="pricePointLittleType"
                            minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>						
		</xs:sequence>
	</xs:complexType>
	<!-- MQC7353 -->
	
	<xs:complexType name="transactionFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="purchase-date" type="xs:dateTime" />
			<xs:element name="purchase-rate" type="xs:double" />
			<xs:element name="purchase-currency" type="chargingResourceFullType" />
			<xs:element name="created-by-super-credit" type="xs:boolean" />
			<xs:element name="auth-code" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="csr-id" type="xs:string" />
			<xs:element name="subscription" type="subscriptionFullType"
				minOccurs="0" />
			<xs:element name="super-credit-id" type="xs:string" />
			<xs:element name="translated-super-credit-name" type="xs:string" />
			<xs:element name="roaming-tax-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-amount" type="xs:double"
				minOccurs="0" />
			<xs:element name="roaming-type" type="xs:string"
				minOccurs="0" />
			<xs:element name="network-code" type="xs:string"
				minOccurs="0" />
			<xs:element name="is-package-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-new-package-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-payment-content" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-recurring-payment" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-renewal-payment" type="xs:boolean"
				minOccurs="0" />
			<!--CR1759 added -->
			<xs:element name="is-credit-refund-transaction" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-dunning-transaction" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-modification" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-refund-cash" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-refund-discount" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-refund-enlargement" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-refund-noncash" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-Subscription" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="local-date-time" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="payment-status" type="xs:int" minOccurs="0" />
			<xs:element name="payment-type" type="xs:int" minOccurs="0" />
			<xs:element name="standard-rate" type="xs:double"
				minOccurs="0" />
			<xs:element name="status" type="xs:int" minOccurs="0" />
			<!-- -->
			<xs:element name="session-id" type="xs:string" minOccurs="0" />
			<xs:element name="parent-transaction-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="drm-object" type="drmObjectFullType"
				minOccurs="0" />
			<xs:element name="recipient-msisdn" type="xs:string"
				minOccurs="0" />
			<xs:element name="content-description" type="xs:string"
				minOccurs="0" />
			<xs:element name="aggregator-id" type="xs:string"
				minOccurs="0" />
			<xs:element name="partner-id" type="xs:string" minOccurs="0" />
			<xs:element name="content-name" type="xs:string"
				minOccurs="0" />
			<xs:element name="asset-id" type="xs:string" minOccurs="0" />
			<xs:element name="bearer-id" type="xs:string" minOccurs="0" />
			<xs:element name="matching-attributes" type="ratingAttributesFullType"
				minOccurs="0" />
			<xs:element name="re-issue" type="xs:int" minOccurs="0" />
			<xs:element name="purchase-channel" type="xs:string"
				minOccurs="0" />
			<xs:element name="refund-reason" type="xs:string"
				minOccurs="0" />
			<xs:element name="refund-payment-transaction-id" type="xs:string"
				minOccurs="0" />
			<!-- CR1455 - start -->
			<xs:element name="tax-rate" type="xs:double" minOccurs="0" />
			<xs:element name="service-id" type="xs:string" minOccurs="0" />
			<!-- CR1455 - end -->
			<!-- MQC 6834 - If the property API_PRICEPOINT_RETURN_RATE_AS_STRING_NET 
				is set to true the purchase rate returned is a net price, this field will 
				return the purchase rate as gross in the response. -->
			<xs:element name="purchase-rate-gross" type="xs:double"
				minOccurs="0" />
			<!-- MQC 6627 - add next cycle discount -->
			<xs:element name="next-cycle-discount" type="xs:double"
				minOccurs="0" />
			<!-- MQC 6650 - add transaction type -->
			<xs:element name="transaction-type" type="xs:string"
				minOccurs="0" />
				
			<!-- CR2241 START -->
			<xs:element name="device-id" type="xs:string" minOccurs="0" />
			<xs:element name="client-id" type="xs:string" minOccurs="0" />
			<xs:element name="transaction-id" type="xs:string" minOccurs="0" />
			<xs:element name="transaction-id-long" type="xs:long" minOccurs="0" />
			<xs:element name="access-channel" type="xs:string" minOccurs="0" />
			<xs:element name="client-network-code" type="xs:string" minOccurs="0" />
			<xs:element name="external-trans-id" type="xs:string" minOccurs="0" />
			<xs:element name="external-field1" type="xs:string" minOccurs="0" />
			<xs:element name="external-field2" type="xs:string" minOccurs="0" />
			<xs:element name="affiliate-id" type="xs:string" minOccurs="0" />
			<xs:element name="product-code" type="xs:string" minOccurs="0" />
			<xs:element name="rate-identifier" type="xs:string" minOccurs="0" />
			<xs:element name="payment-info" type="xs:string" minOccurs="0" />

		 	<!-- MQC9795 error id and description from ERIF should be included-->
            <xs:element name="error-id" type="xs:string" minOccurs="0"/>
            <xs:element name="error-description" type="xs:string" minOccurs="0"/>

 			<!-- CR2241 END -->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="subscriptionFullType">
		<xs:sequence>
			<xs:element name="package" type="catalogPackageFullType" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="start-date" type="xs:dateTime" />
			<xs:element name="purchase-date" type="xs:dateTime" />
			<xs:element name="expiry-date" type="xs:dateTime" />
			<!-- CR1759 changed start -->
			<xs:element name="local-start-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="local-purchase-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="local-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<!-- CR1759 changed end -->
			<xs:element name="has-expired" type="xs:boolean" />
			<xs:element name="resource-balances">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance" type="resourceBalanceFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-recurring" type="xs:boolean" />
			<xs:element name="status" type="xs:int" />
			<xs:element name="translated-status" type="xs:string" />
			<xs:element name="rating-attributes" type="ratingAttributesFullType" />
			<xs:element name="final-min-subscription-end-date" type="xs:dateTime" />
			<xs:element name="current-number-of-occurences" type="xs:int" />
			<xs:element name="min-subscription-period-elapsed" type="xs:boolean" />
			<xs:element name="is-preordered" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="transactions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transaction" type="transactionFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="super-credit-id" type="xs:string" />
			<xs:element name="translated-super-credit-name" type="xs:string" />
			<xs:element name="super-credit-balances" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance" type="resourceBalanceFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="overdue-expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="has-valid-micro-service" type="xs:boolean" />
			<xs:element name="services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="service-id" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="disallow-cancellations" type="xs:boolean"
				minOccurs="0" />
			<!-- CR1759 added -->
			<xs:element name="is-refundable" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-reserved" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="is-super-package" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="drm-object" type="drmObjectFullType"
				minOccurs="0" />
            <!-- MQC6976 -->
            <xs:element name="penalty-charge" type="xs:double"
                minOccurs="0" />
			<!-- MQC7733 -->
			<xs:element name="next-cycle-discount" type="xs:double"
				minOccurs="0" />
			<!-- CR2255 Phase2 - add partner information -->
			<xs:element name="b2b-partner" type="b2bPartnerFullType"
				minOccurs="0" />
			<!--  MQC 9655 - add parent package id -->
			<xs:element name="parent-package-id" type="xs:string" minOccurs="0"/>
			<xs:element name="external-sub-id" type="xs:string" minOccurs="0" />
			<!-- JIRA ET391 Add external fields to ER_subscriptions and pass to ERIF & PNH -->
			<xs:element name="external-identifier1" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier2" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier3" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="chargingResourceFullType">
		<xs:sequence>
			<xs:element name="chargingResourceType" type="charging-resourceType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resourceBalanceFullType">
		<xs:sequence>
			<xs:element name="subscription-id" type="xs:string" />
			<xs:element name="oldest-subscription-id" type="xs:string" />
			<xs:element name="package-id" type="xs:string" />
			<xs:element name="threshold" type="xs:int" />
			<xs:element name="charging-resource" type="chargingResourceFullType" />
			<xs:element name="balance" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="erServiceFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="pricing-text-1" type="xs:string" />
			<xs:element name="pricing-text-2" type="xs:string" />
			<xs:element name="is-reserve-only" type="xs:boolean" />
			<xs:element name="service-type" type="xs:string" />
			<xs:element name="price-point" type="pricePointFullType" />
			<xs:element name="price-points" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="price-point" type="pricePointFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="is-default-type" type="xs:boolean" />
			<xs:element name="provisioning-system" type="xs:string" />
			<xs:element name="provisioning-tag" type="xs:string" />
			<xs:element name="usage-id" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="drmObjectFullType">
		<xs:sequence>
			<xs:element name="key" type="xs:string" />
			<xs:element name="id" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="drm-type" type="drmTypeFullType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="drmTypeFullType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="is-drm" type="xs:boolean" />
			<xs:element name="is-jdp" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1759 - end -->
	<!-- START: CR1791 -->
	<xs:complexType name="resource-balance-onlyType">
		<xs:sequence>
			<xs:element name="resource-id" type="xs:int" />
			<xs:element name="balance" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<!-- END: CR1791 -->
	<!-- CR 1691 Modify Subscription Start -->
	<xs:complexType name="subscription-attributesType">
		<xs:sequence>
			<xs:element name="end-date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="status" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR 1791 Modify Subscription End -->

	<!-- CR1455 - start -->
	<xs:complexType name="catalogServiceFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<!--  MQC 7458 Add payment content to service-->
			<xs:element name="payment-content" type="paymentContentFullType"  minOccurs="0"/>
			<!-- MQC 7664 Add status, description and provisioning tag to service -->
			<xs:element name="status" type="xs:int" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="provisioning-tag" type="xs:string" minOccurs="0" />
			<!-- MQC7733 - add service level custom fields -->
			<xs:element name="custom-fields" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="custom-field" type="customFieldFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pricingModelFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="tiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dateTimeTier" type="dateTimeTierFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dateTimeTierFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="is-promotion" type="xs:boolean" />
			<xs:element name="months-of-year" type="rangeValueFullType"
				minOccurs="0" />
			<xs:element name="days-of-month" type="rangeValueFullType"
				minOccurs="0" />
			<xs:element name="days-of-week" type="rangeValueFullType"
				minOccurs="0" />
			<xs:element name="hours-of-day" type="dayRangeFullType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="rangeValueFullType">
		<xs:sequence>
			<xs:element name="value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dayRangeFullType">
		<xs:sequence>
			<xs:element name="start-time" type="xs:string" />
			<xs:element name="end-time" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pricePointTierFullType">
		<xs:sequence>
			<xs:element name="promotional-price" type="xs:double" />
			<xs:element name="balance-impacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="balance-impact" type="balanceImpactFullType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="balanceImpactFullType">
		<xs:sequence>
			<xs:element name="key" type="xs:long" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1455 - end -->

	<!-- CR1803 - start -->
	<xs:complexType name="customFieldType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1803 - end -->

	<!-- CR1803 - start -->
	<xs:complexType name="customFieldFullType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1803 - end -->

	<!-- CR1923 - start -->
	<xs:complexType name="partnerTradingType">
		<xs:sequence>
			<xs:element name="partner-id" type="xs:string" />
			<xs:element name="max-trans-amount" type="xs:double" />
			<xs:element name="max-cumulative-trans-amount" type="xs:double" />
			<xs:element name="period-days" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR1923 - end -->

	<!-- CR1938 begin -->
	<xs:complexType name="reasonCodeFullType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="sub-code" type="xs:int" minOccurs="0" />
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentStatusFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="code" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!-- CR1938 end -->

	<!-- CR2068 Service Partners Definition -->
	<xs:complexType name="servicePartnerType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="partners" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="partnerid" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- CR2068 END -->

	<!-- MD 19/4/12 - this was extracted from purchase and find-packages-with-service-request and merged -->
	<xs:complexType name="purchaseAttributesType">
		<xs:sequence>
			<xs:element name="is-repurchase" type="xs:boolean"	minOccurs="0" />
			<xs:element name="force-reservation" type="xs:int" minOccurs="0" />

			<!-- START: CR1791 -->
			<xs:element name="status" type="xs:int" minOccurs="0" />
			<xs:element name="start-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="end-date" type="xs:dateTime" minOccurs="0" />
			<!-- these elements should never have been in here in the first place 
				- but we can't remove them now... -->
			<xs:element name="resource-balances-only" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance-only" type="resource-balance-onlyType"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- END: CR1791 -->
			<!-- google changes MD 19/4/12 -->
			<xs:element name="external-sub-id" type="xs:string" minOccurs="0" />
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="usageAttributesType">
		<xs:sequence>
			<xs:element name="force-reservation" type="xs:boolean" minOccurs="0" />
			<xs:element name="force-purchase" type="xs:boolean"	minOccurs="0" />
			<xs:element name="session-id" type="xs:string" minOccurs="0" />
			<xs:element name="subscribed" type="xs:boolean"	minOccurs="0" />
			<xs:element name="exclude-recurring-trial-packages"	type="xs:boolean" minOccurs="0" />
			<xs:element name="include-recurring-trial-packages"	type="xs:boolean" minOccurs="0" />
			<xs:element name="access-control-tag" type="xs:boolean"	minOccurs="0" />
			<xs:element name="event-units" type="xs:double"	minOccurs="0" />
			<xs:element name="access-control-attributes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="href" type="xs:string" minOccurs="0" />
						<xs:element name="cc" type="xs:string" minOccurs="0" />
						<xs:element name="cl" type="xs:string" minOccurs="0" />
						<xs:element name="des" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- CR1423: Duplicate charge -->
			<xs:element name="enable-re-issue" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- MQC-7458 - Payment Content Full Type -->
	<xs:complexType name="paymentContentFullType">
		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="item-volume" type="xs:string" minOccurs="0" />
			<xs:element name="merchant" type="xs:string" minOccurs="0" />
			<xs:element name="merchant-description" type="xs:string" minOccurs="0" />
			<xs:element name="promotion" type="xs:string" minOccurs="0" />
			<xs:element name="service-type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR2255 Phase2 - add partner information -->
	<xs:complexType name="b2bPartnerType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0" />
			<xs:element name="url" type="xs:string" minOccurs="0" />
			<xs:element name="contact-info" type="xs:string" minOccurs="0" />
			<xs:element name="email" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- CR2255, also creating a full type, so this can be extended in the future -->
	<xs:complexType name="b2bPartnerFullType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0" />
			<xs:element name="url" type="xs:string" minOccurs="0" />
			<xs:element name="contact-info" type="xs:string" minOccurs="0" />
			<xs:element name="email" type="xs:string" minOccurs="0" />
			<!-- JIRA ET68 add partner name -->
			<xs:element name="partner-name" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subscription-filterType">
		<xs:sequence>
			<xs:element name="subscription-id" type="xs:string" minOccurs="0"/>
			<xs:element name="pre-order" type="xs:int" minOccurs="0"/>
			<xs:element name="charging-method" type="xs:int" minOccurs="0"/>
			<xs:element name="subscription-status" type="xs:int" minOccurs="0"/>
			<xs:element name="recurring-events-only" type="xs:boolean" minOccurs="0"/>
			<xs:element name="non-recurring-events-only" type="xs:boolean" minOccurs="0"/>
			<xs:element name="start-date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="end-date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="subscription-end-date-start-value" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="subscription-end-date-end-value" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="transactions-not-required" type="xs:string" minOccurs="0"/> <!-- no - sends trans (default), yes - does not send trans -->
			<xs:element name="add-services" type="xs:boolean" minOccurs="0"/> 
			<xs:element name="client-id" type="xs:string" minOccurs="0"/>
			<xs:element name="max-events" type="xs:int" minOccurs="0"/>
			<xs:element name="package-class" type="xs:string" minOccurs="0"/>
			<xs:element name="is-using-local-date" type="xs:boolean" minOccurs="0"/>
			<!-- MQC 6519 - add flag to indicate whether to limit the number of transactions returned
			for each subscription to max_events, the order of transactions returned will youngest first -->
			<xs:element name="use-max-events-for-trans" type="xs:boolean" minOccurs="0"/>
			<!-- CR 1970 - Mobile Protect additions -->
			<xs:element name="package-id" type="xs:string" minOccurs="0"/>
			<xs:element name="partner-id" type="xs:string" minOccurs="0"/>
			<!--  MQC 9655 - add parent package id to subscription filter -->
		    <xs:element name="parent-package-id" type="xs:string" minOccurs="0"/>
		    <xs:element name="tariff" type="xs:string" minOccurs="0"/>
		    <!-- add a list of transaction types which are required i.e. payment, modify, refunds -->
		    <xs:element name="include-txns" type="xs:string" minOccurs="0"/> 
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="bar">
		<xs:annotation>
			<xs:documentation>
				the name is a unique name for the bar type, a description is something
				human readable, and a status indicates whether the bar is active.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="status" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- JIRA ET196 Get account subscription promo-codes info -->
	<xs:complexType name="subscriptionPromoCodeType">
		<xs:sequence>
			<xs:element name="subscription-id" type="xs:string" />
			<xs:element name="promo-code" type="xs:string" />
			<xs:element name="package-id" type="xs:string" />
			<xs:element name="time-stamp" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<!-- JIRA ET196 Inactivate subscription promo-code  -->
	<xs:complexType name="inactivateSubscriptionPromoCodeAuthorisationType">
		<xs:sequence>
			<xs:element name="is-success" type="xs:boolean" />
			<xs:element name="subscription-id" type="xs:string" minOccurs="0"/>
			<xs:element name="package-id" type="xs:string" minOccurs="0"/>
			<xs:element name="reason-code" type="reason-codeType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="pricePointLiteType">
		<xs:sequence>
			<xs:element name="rate" type="amountType"  minOccurs="0"/>
			<xs:element name="charging-method" type="xs:int" minOccurs="0" />
			<xs:element name="duration" type="xs:int" minOccurs="0" />
 			<xs:element name="user-group" type="xs:string" minOccurs="0" />
			<xs:element name="promo-code" type="xs:string" minOccurs="0" />
			<xs:element name="channel" type="xs:int" minOccurs="0" />
			<xs:element name="renewals-until-linked-pricepoint" type="xs:int" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id"  type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="amountType">
	<xs:simpleContent>
		<xs:extension base="xs:decimal">
			<xs:attribute name="resource-code" type="xs:integer" />
			<xs:attribute name="resource" type="xs:string" use="required"/>
			<xs:attribute name="tax-rate" type="xs:decimal" />
		</xs:extension>
	</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="subscriptionLiteType">
		<xs:sequence>
			<xs:element name="package-id" type="xs:string" minOccurs="0" />
			<xs:element name="purchase-date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="expiry-date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="charging-method" type="xs:int" minOccurs="0" />
			<xs:element name="duration" type="xs:int" minOccurs="0" />
 			<xs:element name="user-group" type="xs:string" minOccurs="0" />
			<xs:element name="promo-code" type="xs:string" minOccurs="0" />
			<xs:element name="channel" type="xs:int" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/> 
		<xs:attribute name="status" type="xs:int" use="required"/>
	</xs:complexType>

	<xs:complexType name="offerServiceType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:sequence>
				<xs:element name="pricepoint" type="pricePointLiteType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:sequence>
				<xs:element name="subscription" type="subscriptionLiteType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>
	<!-- Convergence -->
	<xs:complexType name="chargingId">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="provisionType">
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="UPDATE" />
	    <xs:enumeration value="ACTIVATE" />
	    <xs:enumeration value="DE-ACTIVATE" />
	    <xs:enumeration value="RE-ACTIVATE" />
	    <xs:enumeration value="RENEWAL-ACTIVATE" />
	    <xs:enumeration value="SUSPEND" />
	  </xs:restriction>
	</xs:simpleType>



		<xs:complexType name="validate-response">
		<xs:annotation><xs:documentation>
			This is the response type for both validate-msisdn-response and validate-account-response
		</xs:documentation></xs:annotation>
			<xs:sequence>
				<xs:element name="is-chargeable" type="xs:boolean" />
				<xs:element name="error-id" type="xs:string" minOccurs="0" />
				<xs:element name="error-description" type="xs:string"
					minOccurs="0" />
				<xs:element name="spid" type="xs:string" minOccurs="0" />
				<xs:element name="billingCycleDay" type="xs:int" minOccurs="0" />
				<xs:element name="status" type="xs:string" minOccurs="0" />
				<xs:element name="ban" type="xs:string" minOccurs="0" />
				<xs:element name="childSpId" type="xs:string" minOccurs="0" />
				<xs:element name="isPrepay" type="xs:string" minOccurs="0" />
				<xs:element name="spType" type="xs:string" minOccurs="0" />
				<xs:element name="user-groups" minOccurs="0">
				 <xs:complexType>
				   <xs:sequence>
					 <xs:element name="user-group" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				   </xs:sequence>
				 </xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
</xs:schema>

