DECOUPLING_common/resources/schemas/common/v2-common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://localhost:8080/decoupling/schemas/v2/common"
	targetNamespace="http://localhost:8080/decoupling/schemas/v2/common">

	
	<xs:complexType name="charging-resource">
		<xs:attribute name="code" type="xs:int" use="required"/>
		<xs:attribute name="name" type="xs:string"/>	
		<xs:attribute name="description" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="pricepoint">
		<xs:sequence>
			<xs:element name="charging-method" type="xs:int" minOccurs="0" />
			<xs:element name="duration-code" type="xs:int" minOccurs="0" />
 			<xs:element name="rate" type="amount"  minOccurs="0"/>
			<xs:element name="user-group" type="xs:string" minOccurs="0" />
			<xs:element name="promo-code" type="xs:string" minOccurs="0" />
			<xs:element name="pricing-text-1" type="xs:string" minOccurs="0"  />
			<xs:element name="pricing-text-2" type="xs:string" minOccurs="0" />			
		</xs:sequence>
		<xs:attribute name="id"  type="xs:string" use="required"/>
		
	</xs:complexType>
	<!-- ET-267 -->
	<xs:complexType name="b2bPartner">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0" />
			<xs:element name="url" type="xs:string" minOccurs="0" />
			<xs:element name="contact-info" type="xs:string" minOccurs="0" />
			<xs:element name="email" type="xs:string" minOccurs="0" />
			<!-- JIRA ET68 add partner name -->
			<xs:element name="partner-name" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ET-267 -->

	<xs:complexType name="resource-balance">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="code" type="xs:integer" use="required" />
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="amount">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="resource-code" type="xs:integer" />
				<xs:attribute name="resource" type="xs:string" use="required"/>
				<xs:attribute name="tax-rate" type="xs:decimal" />
				<xs:attribute name="undiscounted-price" type="xs:decimal"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="min-sub-period-end">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="penalty-charge" type="xs:decimal" />
				<xs:attribute name="min-sub-period-end" type="xs:dateTime"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="transaction">
		<xs:annotation>
			<xs:documentation>
				This is a generic superclass of all transaction types in ER: Payments, refund, usage modify transactions.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:long" use="required"/> 
		<xs:attribute name="type" type="xs:string" />				
		
	</xs:complexType>

	<xs:complexType name="refund-transaction">
		<xs:complexContent>
			<xs:extension base="transaction">
				<xs:sequence>
					<xs:element name="status" type="xs:int" />
					<xs:element name="payment-id" type="xs:long" />
					<xs:element name="amount" type="amount" minOccurs="0" />
					<xs:element name="timestamp" type="xs:dateTime"
						minOccurs="0" />
					<xs:element name="reason" type="xs:string"
						minOccurs="0" />
					<xs:element name="error-id" type="xs:string" minOccurs="0" />
					<xs:element name="error-description" type="xs:string"
						minOccurs="0" />
					<xs:element name="partner-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="csr-id" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="payment-transaction">
		<xs:complexContent>
			<xs:extension base="transaction">
				<xs:sequence>
					<xs:element name="status" type="xs:int" />
					<xs:element name="purchase-date" type="xs:dateTime" />					
					<xs:element name="amount" type="amount" minOccurs="0"/>
					<xs:element name="content-name" type="xs:string"
						minOccurs="0" />
					<xs:element name="tax-rate" type="xs:decimal" minOccurs="0" />
					<xs:element name="service-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="affiliate-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="device-id" type="xs:string" minOccurs="0" />
					<xs:element name="aggregator-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="asset-id" type="xs:string" minOccurs="0" />
					<xs:element name="payment-info" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-field1" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-field2" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-trans-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="partner-id" type="xs:string"
						minOccurs="0" />

					<!-- MQC9795 error id and description from ERIF should be included -->
					<xs:element name="error-id" type="xs:string" minOccurs="0" />
					<xs:element name="error-description" type="xs:string"
						minOccurs="0" />

					<xs:element name="refunds" type="refund-transactions" minOccurs="0" />
					<!--  ET267 -->
					<xs:element name="subscription-id" type="xs:string" minOccurs="0"/>
					<xs:element name="subscription-status" type="xs:int" minOccurs="0"/>
					<xs:element name="package-id" type="xs:string" minOccurs="0"/> 
					<xs:element name="b2b-partner" type="b2bPartner" minOccurs="0"/> <!-- ContactType referred as B2BPartner -->
					<xs:element name="merchant-name" type="xs:string" minOccurs="0"/>
					<xs:element name="charging-method" type="xs:int" minOccurs="0" /> <!-- PurchaseType referred as charging-method   -->
					<!-- ET267  -->
					<xs:element name="promo-code" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="modify-transaction">
		<xs:complexContent>
			<xs:extension base="transaction">
				<xs:sequence>
					<xs:element name="account-id" type="xs:long" minOccurs="0" />
					<xs:element name="sub-id" type="xs:long" minOccurs="0" />
					<xs:element name="timestamp" type="xs:dateTime"	minOccurs="0" />
					<xs:element name="reason" type="xs:string" minOccurs="0" />
					<xs:element name="old-value" type="xs:string" minOccurs="0" />
					<xs:element name="new-value" type="xs:string" minOccurs="0" />
					<xs:element name="csr-id" type="xs:string" minOccurs="0"/>
					<xs:element name="partner-id" type="xs:string"	minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="usage-transaction">
		<xs:complexContent>
			<xs:extension base="transaction">
				<xs:sequence>
					<xs:element name="status" type="xs:int" />
					<xs:element name="purchase-date" type="xs:dateTime" />
					<xs:element name="amount" type="amount" minOccurs="0"/>
					<xs:element name="content-name" type="xs:string"
						minOccurs="0" />
					<xs:element name="tax-rate" type="xs:decimal" minOccurs="0" />
					<xs:element name="service-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="affiliate-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="device-id" type="xs:string" minOccurs="0" />
					<xs:element name="aggregator-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="asset-id" type="xs:string" minOccurs="0" />
					<xs:element name="payment-info" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-field1" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-field2" type="xs:string"
						minOccurs="0" />
					<xs:element name="external-trans-id" type="xs:string"
						minOccurs="0" />
					<xs:element name="partner-id" type="xs:string"
						minOccurs="0" />

					<!-- MQC9795 error id and description from ERIF should be included -->
					<xs:element name="error-id" type="xs:string" minOccurs="0" />
					<xs:element name="error-description" type="xs:string"
						minOccurs="0" />

					<xs:element name="refunds" type="refund-transactions" minOccurs="0" />
					<!--  ET267 -->
					<xs:element name="subscription-id" type="xs:string" minOccurs="0"/>
					<xs:element name="subscription-status" type="xs:int" minOccurs="0"/>
					<xs:element name="package-id" type="xs:string" minOccurs="0"/> 
					<xs:element name="b2b-partner" type="b2bPartner" minOccurs="0"/> <!-- ContactType referred as B2BPartner -->
					<xs:element name="merchant-name" type="xs:string" minOccurs="0"/>
					<xs:element name="charging-method" type="xs:int" minOccurs="0" /> <!-- PurchaseType referred as charging-method   -->
					<!-- ET267  -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="subscription">
		<xs:sequence>
			<xs:element name="pricepoint" type="pricepoint"/>
			
			<xs:element name="purchase-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="expiry-date" type="xs:dateTime"
				minOccurs="0" />
			<xs:element name="payment-transactions" type="payment-transactions" minOccurs="0"  />
			<xs:element name="usage-transactions" type="usage-transactions"  minOccurs="0" />
			<xs:element name="refund-transactions" type="refund-transactions" minOccurs="0" />
			<xs:element name="modify-transactions" type="modify-transactions" minOccurs="0" />
			<xs:element name="package-id" type="xs:string" minOccurs="0" />
			<xs:element name="services" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="service-id" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="resource-balances" minOccurs="0" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource-balance" type="resource-balance"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="external-sub-id" type="xs:string" minOccurs="0" />
			<!-- ET267 -->
			<xs:element name="b2b-partner" type="b2bPartner" minOccurs="0"/>
			<!-- ET267 -->
			<!-- ET280 Start -->
			<xs:element name="parent-package-id" type="xs:string" minOccurs="0"/>
			<xs:element name="merchant-name" type="xs:string" minOccurs="0"/>
			<xs:element name="partner-id" type="xs:string"	minOccurs="0" />
			<xs:element name="remaining-renewals" type="xs:int" minOccurs="0"/>
			<xs:element name="min-sub-period-end" type="min-sub-period-end" minOccurs="0"/>
			<!-- ET280 Start -->
			
			<!-- JIRA ET391 Add external fields to ER_subscriptions and pass to ERIF & PNH -->
			<xs:element name="external-identifier1" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier2" type="xs:string" minOccurs="0"/>
			<xs:element name="external-identifier3" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/> 
		<xs:attribute name="status" type="xs:int" />
		
	</xs:complexType>
	
<!-- 	
	<xs:complexType name="subscriptions" >
		<xs:sequence>
			<xs:element name="subscription" type="subscription"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType> -->
	
	
	<xs:complexType name="modify-transactions" >
		<xs:sequence>
			<xs:element name="modify" type="modify-transaction"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="payment-transactions">
		<xs:sequence>
			<xs:element name="transaction" type="payment-transaction"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="usage-transactions">
		<xs:sequence>
			<xs:element name="transaction" type="usage-transaction"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="refund-transactions">
		<xs:sequence>
			<xs:element name="refund" type="refund-transaction"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
				
	<!-- Convergence -->
	<xs:complexType name="chargingId">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- <xs:complexType name="fullAccountV2Type">
		<xs:sequence>
			<xs:element name="ban" type="xs:string" />
			<xs:element name="charging-id" type="chargingId"/>
			<xs:element name="status" type="xs:int" />
			<xs:element name="user-groups" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="billing-cycle-date" type="xs:int" minOccurs="0"  />
			<xs:element name="country" type="xs:string" /> 2 letter country code - 'UK', 'RU'
			<xs:element name="sp-id" type="xs:string" minOccurs="0" />		CR 1643 - Pre-Pay Post-Pay Split
			<xs:element name="is-prepay" type="xs:string" minOccurs="0" />	CR 1643 - Pre-Pay Post-Pay Split
			<xs:element name="last-validate-date" type="xs:dateTime" />
			<xs:element name="child-sp-id" type="xs:string"
				minOccurs="0" /> CR2198 Add Child Service Provider Id to Account
			<xs:element name="sp-type" type="xs:string" minOccurs="0" />		CR2198 Add Service Provider Type to Account
			<xs:element name="spend-limits" minOccurs="0"> MQC8051
				<xs:complexType>
					<xs:sequence>
						<xs:element name="per-tx-limit" type="xs:double" /> per transaction spend limit
						<xs:element name="per-day-limit" type="xs:double" /> per day spend limit
						<xs:element name="per-month-limit" type="xs:double" /> per month spend limit
						<xs:element name="cumulative-spend-day" type="xs:double" /> cumulative spend for today
						<xs:element name="cumulative-spend-month" type="xs:double" /> cumulative spend for this calendar month
					</xs:sequence>
				</xs:complexType>
			</xs:element> MQC8051

			JIRA ET148 Add SMS blacklist flag to opt out of courtesy SMS notifications
			<xs:element name="suppress-courtesy-notifications" type="xs:boolean"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType> -->
	
</xs:schema>